<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', : 'reload' %>
    <%= javascript_include_tag 'application', : 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
